$monitor_black: #212121;
$monitor_font_size: 18px;

#info {
  border-left: 1px dashed $monitor_black;
  color: $monitor_black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  text-align: center;
  height: 100%;

  & > * {
    margin: 10px 15px 55px 15px;
  }

  .value {
    font-size: 120%;
    font-weight: bold;
    margin-top: 10px;
  }

  .next-figure {
    padding: 10px 0;
    margin: 10px auto;
  }
}