@mixin button($scale: 1) {
  $highlight: inset 1px -1px #{$scale}px rgba(255, 255, 255, 0.15);
  $shape: -2px #{$scale}px 1px 1px #A5A5A4;
  $shadow: #{$scale}px #{$scale * 2}px #{$scale}px 0 black;

  width: 10px * $scale;
  height: 10px * $scale + 14px;
  min-width: 30px;

  &:before {
    content: '';
    display: block;
    position: relative;
    margin: 10px * $scale / 4 auto;
    transition: all .1s ease;

    width: 10px * $scale;
    height: 10px * $scale;
    border-radius: 50%;
    background-color: #d6d6d6;
    box-shadow:
            $shape,
            $highlight,
            $shadow;
  }

  &:active:before, &.active:before {
    transform: translate(-2px, #{$scale}px);
    box-shadow:
            0 0 1px 1px #A5A5A4,
            inset 1px -1px #{$scale}px rgba(255, 255, 255, 0),
            #{$scale / 2}px #{$scale}px #{$scale}px black;
  }
}

.controls {
  margin: 15px 0;
  color: #fff;
  position: relative;

  button {
    outline: none;
    appearance: none;
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    font-size: 10px;
    user-select: none;
    cursor: pointer;

    color: #fff;
  }

  .section {

  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .actions button {
      @include button(1);

      &.active {
        &:before {
          background-color: #00bf00;
          box-shadow: none;
        }

        color: #00bf00;
      }
    }

    .togglers button {
      @include button(1);
      margin-right: 15px;

      &:before {
        box-shadow: none;
        transform: none !important;
      }

      &.selected {
        &:before {
          background-color: #00bf00;
          box-shadow: none;
        }

        color: #00bf00;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }

  .arrows {
    position: relative;
    left: 20px;
    width: 100px;
    height: 100px;

    $arrow_btn_width: 26px;
    $arrow_btn_height: 40px;

    button {
      @include button(2);

      width: 26px;
      height: 40px;
      position: absolute;
    }

    .arrow-up {
      top: 0;
      left: calc(50% - (#{$arrow_btn_width} / 2));
    }

    .arrow-down {
      bottom: 0;
      left: calc(50% - (#{$arrow_btn_width} / 2));
    }

    .arrow-left {
      top: calc(50% - (#{$arrow_btn_height} / 2));
      left: 0;
    }

    .arrow-right {
      top: calc(50% - (#{$arrow_btn_height} / 2));
      right: 0;
    }
  }

  .action {
    position: relative;
    right: 35px;

    button {
      @include button(5);
    }
  }
}